<!doctype html>
<html>
    <head>
        <title>js buổi 1</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>luôn viết js ở cuối trước thẻ đóng của body</div>
        
        <button type="button" id="btn">Click</button>
        
        <script>
            //code của javascript / js

            //alert('xin chào các bạn k160');

            document.getElementById("btn").innerHTML = "Xin chào các bạn";
            
            document.write("hello mọi người");

            document.write('<p>hi all</p>');
            
            //prompt("nhập nội dung của bạn");
            
            //đặt biến trong js
            var ten_bien = "hello";
            document.write(ten_bien);
            
            //tính tổng 2 số
            var a = 100;
            
            
        </script>
    </body>
</html>